flask
flask-compress
flask-sqlalchemy
pymysql
psycopg2-binary
python-dotenv
gunicorn
celery
redis
opencv-python-headless
numpy
piexif
Pillow
google-generativeai
pypdf
openai
reportlab
beautifulsoup4
lxml
google-auth
requests
